:root {
  --red: #e3170a;
  --gray: #B6BDB5;
  --darkblue: #011827;
  --lightblue: #8ACFE5;
  --blue: #36769D;
}

body, p, a, ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header {
  background-color: var(--darkblue);
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 0.6rem;
  line-height: 0rem;
  text-align: left;
}

.logo-container img {
  height: 70px;
  width: auto;
}

.hacky img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

.button {
  padding: 1.1rem 2.3rem;
  background: none;
  background-color: var(--lightblue);
  border: 2px;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 4px;
  justify-self: center;
  margin: 1rem 0rem 1.5rem 1rem;
}

.button:hover {
  background: #396a7a;
  cursor: pointer;
}

.bookBtn {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--red);
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem 2.7rem;
  border-radius: 0.2rem;
  justify-self: end;
}

.bookBtn:hover {
  background-color: #940b01;
  cursor: pointer;
}

.playBtn {
  padding: 1.1rem 2.3rem;
  background: none;
  background-color: var(--red);
  border: 2px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 4px;
  justify-self: start;
  margin: 1rem 0rem 4rem 1rem;
}

.playBtn:hover {
  background-color: #940b01;
  cursor: pointer;
}

.storyBtn {
  margin-bottom: 6rem;
  display: flex;
  justify-self: center;
  padding: 1rem 2rem;
  background: none;
  background-color: var(--darkblue);
  border: 0.2rem solid var(--lightblue);
  color: var(--lightblue);
  font-size: 1.5rem;
  font-weight: 700;
  font-style: bold;
  border-radius: 0.2rem;
}

.storyBtn:hover {
  background-color: var(--lightblue);
  border: 0.2rem solid var(--darkblue);
  color: var(--darkblue);
  cursor: pointer;
}

p a {
  display: grid;
  justify-content: center;
  background-color: white;
  background: none;
  border: none;
  color: var(--blue);
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: underline;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
  background-color: white;
  padding: 2rem;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
}

.review img {
  align-self: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.review blockquote {
  margin: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #000;
  text-align: left;
  max-width: 500px;
}

.review cite {
  margin-left: 1px;
  font-style: normal;
  display: block;
  font-size: 0.9rem;
  color: black;
  text-align: left;
}

.div {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 200px;
  background-color: white;
}

.div h2 {
  margin-bottom: -55px;
  font-size: 2rem;
  font-weight: 400;
}

section h2 {
  padding: 0.1rem 1.2rem 0rem 1rem;
  font-size: 1.9rem;
}

section p {
  font-size: 1.3rem;
  padding: 1rem;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 320px;
  gap: 2.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding-bottom: 1rem;
  padding-left: calc(50vw - 160px);
  padding-right: 2rem;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  scroll-snap-align: center;
  padding-bottom: 2rem;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-content {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 1rem;
  text-align: left;
  color: black;
}

.card-content h3 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.card-content p {
  text-align: start;
  font-weight: 400;
  font-size: 1rem;
}

.checked {
  color: red;
}

.empty {
  color: white;
  -webkit-text-stroke: 1.5px #e3170a;
}

.story {
  display: grid;
  justify-content: center;
  align-content: center;
  height: auto;
  background-color: var(--darkblue);
}

.story p {
  font-size: 1.8rem;
  padding: 5rem 2rem 4rem 2rem;
  text-align: center;
  color: white;
  font-weight: 400;
  max-width: 600px;
}

.pointing {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.pointing-image img {
  max-height: 480px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thinking {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.thinking-image img {
  max-height: 480px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.foot {
  background-color: var(--darkblue);
  color: white;
  margin-top: 4rem;
  padding: 2rem;
}

.foot h3 {
  color: white;
}

.foot a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
}

.foot p {
  color: white;
  font-size: 1rem;
}

.foot a:hover {
  text-decoration: underline;
}

.card:nth-child(3) {
  display: none;
}

.review:nth-child(2) {
  display: none;
}

.challenge-buttons {
  display: none;
}

.challenges-buttons {
  display: none;
}

.main-nav {
  display: none;
}

@media (min-width: 1280px) {
  .main-nav {
    display: block;
  }
  .main-nav ul {
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    gap: 10rem;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
  }
  .main-nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .main-nav a:hover {
    color: var(--lightblue);
    cursor: pointer;
  }
  .div h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .logo-text {
    flex-direction: row;
    gap: 0.8rem;
    font-size: 1rem;
    margin-top: 35px;
  }
  p a {
    display: none;
  }
  .button {
    display: none;
  }
  .challenge-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: -2.1rem;
  }
  .challenges-buttons {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
  }
  .redBtn {
    background: none;
    background-color: var(--red);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1.5rem 4.5rem;
    border: none;
    border-radius: 4px;
  }
  .redBtn:hover {
    background-color: #940b01;
    cursor: pointer;
  }
  .blueBtn {
    background: none;
    background-color: var(--lightblue);
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1.5rem 4.5rem;
    border: none;
    border-radius: 4px;
  }
  .blueBtn:hover {
    background: #396a7a;
    cursor: pointer;
  }
  .review:nth-child(2) {
    display: flex;
  }
  .reviews {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .review {
    display: flex;
  }
  .card:nth-child(3) {
    display: grid;
  }
  .cards {
    display: grid;
    grid-auto-flow: initial;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    overflow-x: visible;
    padding: 0;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .card {
    scroll-snap-align: unset;
  }
  .thinking {
    display: flex;
    flex-direction: row-reverse;
    height: 450px;
  }
  .thinking-image {
    height: 100%;
    max-width: 50%;
    min-width: 50%;
  }
  .thinking-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thinking-text {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4rem;
    max-width: 50%;
  }
  .pointing {
    display: flex;
    flex-direction: row;
    height: 450px;
  }
  .pointing-image {
    height: 100%;
    max-width: 50%;
    min-width: 50%;
  }
  .pointing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .pointing-text {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4rem;
    max-width: 50%;
  }
  .playBtn {
    padding: 1.1rem 2.3rem;
    background: none;
    background-color: var(--red);
    border: 2px;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 4px;
    justify-self: start;
    margin: 1rem 0rem 4rem 1rem;
  }
  .foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 6rem auto 0 auto;
    background-color: var(--darkblue);
    color: white;
    padding: 2rem;
  }
  .foot .first {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 50px;
    grid-column: 1/span 2;
    max-width: 600px;
  }
  .foot .second {
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-column: 3;
    text-align: left;
  }
  .foot .third {
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-column: 4;
    text-align: left;
  }
}
